doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Real State &lt; 220096 &gt; | #{page}
        link(rel="stylesheet", href="/css/app.css")   
        block styles 
    body.min-h-screen(class="bg-custom3")  
        if showHeader
            include navbar 
        main(class="mx-auto container mrt-10 px2")
            block content
        block scripts