div 
    h2#Encabezado(name = 'Encabezado1' class = "header text-center mensajeAlerta") Login
        p Pleace type your credentials to acces

//- html
//-   head
//-     title Mi Aplicación Web
//-   body
//-     h1 Prueba
//-     p Esta es una página generada con Pug.
