extends ../layout/index

block content
  div.py-10
    h1.text-center-4xl.my-10.font-extrabold.text-custom4.text-center.text-5xl Real
      span.font-normal.text-black.text-3.l Estate
    h2.text-center.text-3.l.font-extrabold.text-4xl= page
  
      .mt-8.mx-auto.max-w-xl
        .py-8.px-5.shadow-lg.bg-custom6.rounded-md
          p(class=`text-xl font-bold text-center my-10 ${error ? 'bg-red-500 text-white' : 'bg-green-500 text-black'}` style="color: black;")= error ? "An error occurred. Please try again later." : "Login successful. Welcome!"
          a(href="/login")
            button.w-full(class="bg-custom2 hover:bg-custom4 text-white font-semibold py-3 cursor-pointer mt-4") Go Back
