extends ../layout/index

block content
    div.py-10
        h1.text-center-4xl.my-10.font-extrabold.text-indigo-600.text-center.text-5xl Real
            span.font-normal.text-black.text-3.l State
        h2.text-center.text-3.l.font-extrabold.text-4xl= page
        

        .mt-8.mx-auto.max-w-xl
            .bg-white.py-8.px-4.shadow
                form.space-y-5(action="register", method="POST")
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="text") Name 
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Full name" type="text" name="name")

                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Email 
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="user@dominian.com" type="email" name="email")
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Enter your password" type="password" name="password")

                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="password") Confirm Password
                        input#confirm-password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Renter your password" type="password" name="confirm-password")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/login" class="hover:text-indigo-600 hover:underline") Already have an account? Log in
                        a.text-gray-500.text-xs(href="/login/password-recovery" class="hover:text-indigo-600 hover:underline") Forgot my Password

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Login")